.to-top {
  padding: 10px 15px;
  position: fixed;
  right: 30px;
  bottom: 30px;
  border-radius: 100%;
  background-color: orangered;
}

.arrow-up {
  color: white;
  transform: rotate(180deg);
}

@media screen and (max-width: 460px) {
  .to-top,
  .arrow-up {
    display: none;
  }
}
